.gameNavBar {
    width: 60%;
    margin: auto;
}

.board {
    height: 90vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
        "heroSHandButton heroPlayerHp playerTurn villainPlayerHp villainSHandButton"
        ". heroFightingCard . villainFightingCard ."
        ". . gameLogoContent . ."
        "heroSacrificeButton heroActionButtons . villainActionButtons villainSacrificeButton"
        ". . . . .";
}

.heroSHandButton {
    grid-area: heroSHandButton;
    margin: auto;
}

.villainSHandButton {
    grid-area: villainSHandButton;
    margin: auto;
}

#heroPlayerHp {
    grid-area: heroPlayerHp;
    color: whitesmoke;
    margin: auto;
    color: #2dffe0;
    font-size: 25px;
    font-weight: 500;
}

#villainPlayerHp {
    grid-area: villainPlayerHp;
    color: whitesmoke;
    margin: auto;
    color: #2dffe0;
    font-size: 25px;
    font-weight: 500;
}

.playerTurn {
    grid-area: playerTurn;
    color: whitesmoke;
    margin: auto;
    font-size: 35px;
    font-weight: 500;
    line-height: 80px;
    text-align: center;
}

#heroFightingCard {
    grid-area: heroFightingCard;
    margin: auto;
}

#villainFightingCard {
    grid-area: villainFightingCard;
    margin: auto;
}

.gameLogoContent {
    grid-area: gameLogoContent;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.heroActionButtons {
    grid-area: heroActionButtons;
    margin: auto 35px;
    display: flex;
    flex-direction: row;
}

.villainActionButtons {
    grid-area: villainActionButtons;
    margin: auto 35px;
    display: flex;
    flex-direction: row;
}

#heroSacrificeButton {
    grid-area: heroSacrificeButton;
    margin: auto;
}

#villainSacrificeButton {
    grid-area: villainSacrificeButton;
    margin: auto;
}

.red {
    color: red;
}

.white {
    color: whitesmoke;
}

#drawHeroButton {
    margin: auto 10px;
}

#drawVillainButton {
    margin: auto 10px;
}

.button {
display: block;
margin: auto;
padding: 5px;
width: 120px;
height: 120px;
background-color: transparent;
border: 4px solid #2dffe0;
color: #2dffe0;
border-radius: 80px;
font-size: 20px;
font-weight: 500;
cursor: pointer;
}

.button:hover {
  box-shadow: 
      inset -3.5em 0 0 0 #2dffe0,
      inset 3.5em 0 0 0 #2dffe0;
  transition: all 0.3s ease;
  color: #202020;
}

.button:active, .button:focus {
  color: #202020;
  background-color: #2dffe0;
  box-shadow: 
      inset -3.5em 0 0 0 #2dffe0,
      inset 3.5em 0 0 0 #2dffe0;
      animation: pulse 1s;
  outline: none;
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(45, 255, 224, 0.7);
    }
    70% {
        box-shadow: 0 0 0 30px rgba(45, 255, 224, 0);
    }
    100% {
        box-shadow: 0 0 0 0 rgba(45, 255, 224, 0);
    }
}

.redButton {
    display: block;
    margin: auto;
    padding: 5px;
    width: 120px;
    height: 120px;
    background-color: transparent;
    border: 4px solid red;
    color: whitesmoke;
    border-radius: 80px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    }

.redButton:hover {
box-shadow: 
    inset -3.5em 0 0 0 red,
    inset 3.5em 0 0 0 red;
transition: all 0.3s ease;
color: whitesmoke;
}

.redButton:active, .redButton:focus {
color: whitesmoke;
background-color: red;
box-shadow: 
    inset -3.5em 0 0 0 red,
    inset 3.5em 0 0 0 red;
    animation: redPulse 1s;
outline: none;
}

@keyframes redPulse {
    0% {
        box-shadow: 0 0 0 0 red;
    }
    70% {
        box-shadow: 0 0 0 30px rgba(45, 255, 224, 0);
    }
    100% {
        box-shadow: 0 0 0 0 rgba(45, 255, 224, 0);
    }
}


@media screen and (max-width: 768px) {

    .board {
        height: 90vh;
        display: grid;
        grid-template-columns: 100px 100px 100px 100px 100px;
        grid-template-rows: 190px 190px 190px 190px 190px;
        grid-template-areas:
            "heroSHandButton heroPlayerHp playerTurn villainPlayerHp villainSHandButton"
            ". heroFightingCard . villainFightingCard ."
            ". . gameLogoContent . ."
            ". heroActionButtons . villainActionButtons ."
            ". heroSacrificeButton . villainSacrificeButton .";
    }

    .heroSHandButton {
        grid-area: heroSHandButton;
        margin: auto;
        transform: scale(0.6);
        z-index: 2;
    }

    .villainSHandButton {
        grid-area: villainSHandButton;
        margin: auto;
        transform: scale(0.6);
        z-index: 2;
    }

    #heroPlayerHp {
        grid-area: heroPlayerHp;
        color: whitesmoke;
        margin: auto;
        color: #2dffe0;
        font-size: 25px;
        font-weight: 500;
        transform: scale(0.6);
    }

    #villainPlayerHp {
        grid-area: villainPlayerHp;
        color: whitesmoke;
        margin: auto;
        color: #2dffe0;
        font-size: 25px;
        font-weight: 500;
        transform: scale(0.6);
    }

    .playerTurn {
        grid-area: playerTurn;
        color: whitesmoke;
        margin: auto;
        font-size: 35px;
        font-weight: 500;
        line-height: initial;
        text-align: center;
        transform: scale(0.6);
    }

    #heroFightingCard {
        grid-area: heroFightingCard;
        margin: auto;
        transform: translate(-40%, 0%) scale(0.6);
        z-index: -1;
    }

    #villainFightingCard {
        grid-area: villainFightingCard;
        margin: auto;
        transform: translate(-10%, 0%) scale(0.6);
        z-index: -1;
    }

    .gameLogoContent {
        grid-area: gameLogoContent;
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: -1;
        transform: translate(-50%, -50%) scale(0.6);
    }

    .heroActionButtons {
        grid-area: heroActionButtons;
        margin: auto;
        display: flex;
        flex-direction: column;
        transform: translate(-35%, -50%) scale(0.6);
        z-index: 0;
    }

    .villainActionButtons {
        grid-area: villainActionButtons;
        margin: auto;
        display: flex;
        flex-direction: column;
        transform: translate(15%, -50%) scale(0.6);
        z-index: 0;
    }

    #heroSacrificeButton {
        grid-area: heroSacrificeButton;
        margin: auto;
        transform: translate(-35%, -90%) scale(0.6);
        z-index: 0;
    }

    #villainSacrificeButton {
        grid-area: villainSacrificeButton;
        margin: auto;
        transform: translate(15%, -90%) scale(0.6);
        z-index: 0;
    }

    #drawHeroButton {
        margin: auto;
        transform: scale(0.6);
    }

    #drawVillainButton {
        margin: auto;
        transform: scale(0.6);
    }
}

