@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: oswald;
}

body {
  display: flex;
  flex-direction: column;
  background-image: url("https://nsa40.casimages.com/img/2021/04/22/210422105813155014.png");
  background-repeat: repeat;
  background-size: 100%;
}
